*.class

# Package Files #
*.jar
*.war
*.ear

# Maven Files #
target

# Eclipse Files #
.classpath
.project
.settings
maven-eclipse.xml

# emacs
*~

# intellij
*.iml
*.iws
.idea/workspace.xml
.idea/tasks.xml

#build
.extracted
.externalToolBuilders
src/main/js/visualization/build/*

#node_modules
src/main/js/visualization/node_modules/*