@CHARSET "US-ASCII";

.zenerror {
  display: block;
  position: relative;
  margin: auto;
  top: 40px;
  color: red;
  text-align: center;
  font-size: 18pt;
  font-style: italic;
}

.nodata:before {
  content: "No Data Available";
}

.nodata {
  display: block;
  position: relative;
  margin: auto;
  top: 40px;
  color: blue;
  text-align: center;
  font-size: 18pt;
  font-style: italic;
}

.message {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  background-color: #fafafa;
  border-color: #c1c1c1;
}

/* customize graph appearance */

/* make graph points visible */
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
  fill-opacity: .5 !important;
  stroke-opacity: .5 !important;
}

/*****************************************************************************
 * Styles to handle graph footers
 */
.zenchart {
  /*background-color: red;/**/
  /*border: dashed 5px blue;/**/
  
}

.zenfooter {
  /*background-color: purple;/**/
  /*border: solid 5px green;/**/
  
}

.zenfooter_content {
  /*background-color: yellow;/**/
  margin-left: auto;
  margin-right: auto;
}

.zenfooter_box_column {
  width: 12px;
}

.zenfooter_box {
  width: 10px;
  height: 10px;
  border: solid 1px black;
  float: left;
  margin: 2px 2px 2px 2px;
}

.zenfooter_data {
  padding-left: 20px;
}

.zenfooter_data_number {
  text-align: right;
  font-family: sans-serif;
  font-size: 8pt;
}

.zenfooter_data_text {
  text-align: left;
  font-family: sans-serif;
  font-size: 8pt;
}

.zenfooter_header {
  padding-left: 20px;
  text-align: left;
}

.zenfooter_text {
  font-family: sans-serif;
  font-size: 8pt;
}

.zenfooter_dates {
  font-weight: bold;
  text-align: center;
}

.zenfooter_dates_text {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 8pt;
  text-align: center;
}